redis:
  host: localhost
  port: 6379
  db: 0
  expire: 10
dht22:
  monitoring:
    intervals:  3
DS18B20:
  monitoring:
    intervals:  3
  path: "/sys/bus/w1/devices/28-030497941e1e/temperature"
cpu:
  monitoring:
    intervals: 3