[Unit]
Description=DS18B20 monitoring service
After=redis-server.service

[Service]
WorkingDirectory=/opt/termometer
ExecStart=python /opt/termometer/bin/DS18B20.py --config /opt/termometer/etc/config.yaml
Type=simple
User=root
StandardOutput=syslog
StandardError=syslog
Restart=on-failure

[Install]
WantedBy=default.target
